# ================================
# Configurações do Ambiente Docker
# ================================

# Apache Incoming Port (porta externa do Apache)
ApacheIncomingPort=80

# Apache Root Path (padrão: ./ - para corresponder à raiz)
# Defina: ApacheRootPath=./public/ para direcionar o documentroot do Apache para pasta public
# Defina: ApacheRootPath=./public_html/ para direcionar o documentroot do Apache para pasta public_html
# Lembre-se de criar essa pasta (acima citada) na raíz do repositório
ApacheRootPath=./

# MySQL Root Password (usado para o docker-compose-full)
MySQLRootPassword=1234

# MySQL Shared Folter (usado para o docker-compose-full)
# Obs.: pasta de compartilhamento de arquivos entre o host e o container do MySQL tornando a manipulação de databases fáceis
MySQLContainerSharedFolder=E:\Downloads
